src/main/app/holiday-soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/holiday-soap" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Holiday_Web_Service_Consumer" wsdlLocation="http://www.holidaywebservice.com/HolidayService_v2/HolidayService2.asmx?wsdl" service="HolidayService2" port="HolidayService2Soap" serviceAddress="http://www.holidaywebservice.com/HolidayService_v2/HolidayService2.asmx" doc:name="Web Service Consumer"/>
    <file:connector name="File" outputPattern="log.txt" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="swapi.co" port="443" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" doc:name="HTTP Request Configuration"/>
    <flow name="LukeSkywalkerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/luke" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/api/people/1" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="holiday-soapCountries">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/countries" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="Triggered by /countries" level="INFO" doc:name="Logger"/>
        <ws:consumer config-ref="Holiday_Web_Service_Consumer" operation="GetCountriesAvailable" doc:name="Web Service Consumer"/>
    </flow>
    <flow name="holiday-soapCountryYear">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/byCountryYear" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="country" value="#[message.inboundProperties.'http.query.params'.country]" doc:name="CountryVariable"/>
        <set-variable variableName="year" value="#[message.inboundProperties.'http.query.params'.year]" doc:name="YearVariable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.holidaywebservice.com/HolidayService_v2/
---
{
	ns0#GetHolidaysForYear: {
		ns0#countryCode: flowVars.country as :string,
		ns0#year: flowVars.year as :number
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Holiday_Web_Service_Consumer" operation="GetHolidaysForYear" doc:name="Web Service Consumer"/>
    </flow>
</mule>
